@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'SUIT-Variable';
  src:
    url('/fonts/SUIT-Variable/SUIT-Variable.woff2') format('woff2'),
    url('/fonts/SUIT-Variable/SUIT-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SUIT-Variable', sans-serif;
}

.inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  min-height: calc(100vh - 10rem);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.link-text {
  @apply text-seagull-600;
  transition: .3s ease-in-out;

  &:hover {
    @apply text-seagull-700;
  }
}

/* Button Theme */
*[class^=btn] {
  cursor: pointer;
  transition: all .2s ease-in-out;
  border-radius: .25rem;
}

.btn-primary {
  @apply bg-seagull-400 text-black;

  &:hover {
    @apply hover:bg-seagull-500;
  }
}

.btn-linePrimary {
  @apply bg-white border border-seagull-400 text-seagull-400;

  &:hover {
    @apply hover:bg-gray-100;
  }
}

.btn-secondary {
  @apply bg-seagull-500 text-white;

  &:hover {
    @apply hover:bg-seagull-600;
  }
}

.btn-danger {
  @apply bg-red-500 text-white;

  &:hover {
    @apply hover:bg-red-600;
  }
}

.btn-small {
  @apply px-2 py-1 text-sm rounded;
}

.btn-medium {
  @apply px-4 py-2 text-base rounded-lg;
}

.btn-large {
  @apply px-6 py-3 text-lg rounded-xl;
}

.btn-xlarge {
  @apply px-8 py-4 text-xl rounded-2xl;
}