@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'SUIT-Variable';
  src:
    url('/fonts/SUIT-Variable/SUIT-Variable.woff2') format('woff2'),
    url('/fonts/SUIT-Variable/SUIT-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SUIT-Variable', sans-serif;
}

.inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  min-height: calc(100vh - 10rem);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.link-text {
  @apply text-seagull-600;
  transition: .3s ease-in-out;
}

.link-text:hover {
  @apply text-seagull-700;
}